<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1 align="center">欢迎登录武林秘籍管理系统</h1>
    <div sec:authorize="!isAuthenticated()" >
        <h2 align="center">游客你好，如果想查看武林秘籍<a th:href="@{/userLogin}">请登录</a></h2>
    </div>
    <div sec:authorize="isAuthenticated()">
        <h2><span sec:authentication="name"></span>，你好！您的角色为：
            <span sec:authentication="principal.authorities"></span></h2>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="退出登录"/>
        </form>
    </div>
    <hr>
        <h3>普通武功秘籍</h3>
        <ul>
            <li><a th:href="@{/level1/1}">罗汉拳</a></li>
            <li><a th:href="@{/level1/1}">七星拳</a></li>
            <li><a th:href="@{/level1/1}">太极拳</a></li>
        </ul>

        <h3>高级武功秘籍</h3>
        <ul>
            <li><a th:href="@{/level2/1}">罗汉拳</a></li>
            <li><a th:href="@{/level2/1}">七星拳</a></li>
            <li><a th:href="@{/level2/1}">太极拳</a></li>
        </ul>

        <h3>绝世武功秘籍</h3>
        <ul>
            <li><a th:href="@{/level3/1}">罗汉拳</a></li>
            <li><a th:href="@{/level3/1}">七星拳</a></li>
            <li><a th:href="@{/level3/1}">太极拳</a></li>
        </ul>


    <div th:text="${ok}"></div>
    <div id="div1" class="mydiv" th:id="${hello}" th:class="${ok}">
        你好，世界！
    </div>
    <hr/>
    <h4 th:text="${user}" th:each="user:${users}"></h4>
    <hr/>
</body>
</html>